@charset "UTF-8";
body{
    background-color: blueviolet;
}
header {
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

div{
    background-color: white;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.342);
    margin: auto;
}

footer {
    font-size: 13px;
    color: white;
    text-align: center;
}
img{
    margin: auto;
}
#res > p {
    margin-top: 50px;
    background-color: blue;
}
#res > img {
    margin: auto;
}